---
import { work  } from "@cv";
import File from "@/icons/file.astro";
import Titles from "../Titles.astro";
import ArticleExp from "../ArticleExp.astro"
interface Props{
  id:string,
}
const {id} = Astro.props

---
<section class="z-0 h-max w-3/6 m-auto" id={id} >
  <Titles url="experiencia" title="Experiencia">
    <File Class="text-purple-500 size-7"/>
  </Titles>
  <div class="w-full  my-6 flex flex-col ">
    {
      work.map(({name,position,url,endDate,summary,highlights})=>{
        return(
          <ArticleExp name={name} company={highlights} date={endDate} summary={summary} />
        )
      })
    }
  </div>
</section>