---
import { projects } from "@cv"
import Briefcase from "@/icons/briefcase.astro";
import Titles from "../Titles.astro";
import Card from "../Card.astro"
interface Props{
  id:string
}
const {id} = Astro.props
---
<section class="h-min w-11/12 lg:w-4/6 mx-auto " id={id}>
  <Titles url="projects" title="Proyecto">
      <Briefcase Class="text-sky-500 size-9"/>
  </Titles>
  <div class="py-8 flex flex-col flex-wrap justify-center items-center gap-8
              md:flex-row">
    {
      projects.map(({name, description,url,image})=>{
        return(
          <Card title={name} description={description} url={url} image={image} />
        )
      })   
    } 
  </div>
</section> 

