---
import { basics } from "@cv";
import type {Icons} from "@/img";
import Download from "@/icons/download.astro";
import LinkedIn from "@/icons/linkedin.astro";
import GitHub from "@/icons/skills/github.astro";

const {profiles} = basics;
const SOCIAL_ICONS:Icons = {
  LinkedIn,
  GitHub
};


---
<section class=" lg:w-4/5 lg:size-4/5 mx-auto py-8 px-4 flex flex-col items-center lg:mx-auto lg:flex lg:flex-row lg:items-center lg:justify-evenly  ">
  <img src="./darth_vader-removebg-preview.png" alt="" class="drop-shadow-[0_5px_35px_white]  mb-6 w-72 lg:w-2/5">
  <div class=" size-full px-6 flex flex-col justify-center gap-5 lg:w-3/5">
    <h1 class="text-purple-500 text-2xl font-bold hover:drop-shadow-[0_0_15px_rgb(168_85_347)]">Front-end Developer</h1>
    <h2 class="text-3xl font-semibold first-letter:text-sky-600 lg:text-5xl lg:first-letter:font-extrabold">
      Bienvenido a mi portafolio <br>
      <span class=" inline-block text-base my-6 ">Me llamo Sergio puedes contactarme por mis redes.</span>
    </h2>
    <section class="w-3/5 flex flex-col gap-4 items-center">
      <div class="w-4/6 flex justify-evenly items-center gap-3">
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network]
            return (
              <a
                class={`${network} w-auto flex items-center gap-4 hover:scale-105`}
                href={url}
                title={`Visitar el perfil de ${username} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                  <Icon class={`${network=="LinkedIn" ?'text-white hover:drop-shadow-[0_0_15px_#0A66C2]':'hover:text-orange-400 hover:drop-shadow-[0_0_15px_orange]'} size-10 lg:size-12`}/>
              </a>
            )
          })
      }
      </div>
      <a class="w-2/3 bg-gradient-to-r from-green-400/75 to-blue-500/75 hover:from-green-400 hover:to-blue-400 hover:shadow-[0px_0px_20px_5px_#ffffff70] transition-all text-xl px-8 py-5 rounded-lg flex gap-2 justify-center hover:scale-105 active:shadow-[inset_10px_10px_15px_-3px_#00020] text-white lg:text-center" href="https://drive.google.com/file/d/12uCQzkQrNeMiCkPKlgPBexKTn2odNq1M/view?usp=drive_link" download="CV Sergio Alba" title="Descargar CV"><Download/> Descargar CV</a>
    </section>
  </div>
</section>