---
import { basics } from "@cv";
import type { Icons } from "@/img";
import Download from "@/icons/download.astro";
import LinkedIn from "@/icons/linkedin.astro";
import GitHub from "@/icons/skills/github.astro";
import React from "@/icons/skills/react.astro";
import Typescript from "@/icons/skills/typescript.astro";
import Css from "@/icons/skills/css.astro";
import HeroIcons from "./HeroIcons.astro";
import Html from "@/icons/skills/html.astro";

const { profiles } = basics;
const SOCIAL_ICONS: Icons = {
  LinkedIn,
  GitHub,
};
interface Props {
  id: string;
}
const { id } = Astro.props;
---

<section
  id={id}
  class="w-screen pt-36 flex flex-col place-items-center italic gap-8
         md:w-5/6 md:pt-24 md:m-auto md:mx-auto md:flex-row md:items-center md:justify-between lg:min-h-[48rem] lg:pt-0 lg:flex xl:px-16 overflow-hidden"
>
  <div class="w-full   mb-16  md:w-3/6 flex flex-col justify-center items-center relative lg:mb-6 lg:w-2/5 lg:h-[32rem]">
    <div class="w-full lg:h-full  md:h-5/6 flex justify-center items-center">
      <img
        src="./darth_vader-removebg-preview.png"
        alt=""
        class="w-[75%]  drop-shadow-[0_0px_10px_white] hover:drop-shadow-[0_0px_20px_white]"
      />
    </div>
    <div class="animate-rotate360 w-[90%] h-[90vw] md:w-full md:h-full absolute rounded-full">
      <HeroIcons title="TypeScript" position="top-[30%] left-0" >
        <Typescript class="w-16 h-16 object-contain drop-shadow-[0_0_10px_#004680] hover:drop-shadow-[0_0_20px_#004680]" />
      </HeroIcons>
      <HeroIcons title="CSS" position="bottom-8 left-[15%] " >
        <Css class="w-16 h-16 object-contain drop-shadow-[0_0_10px_#510080] hover:drop-shadow-[0_0_20px_#510080]" />
      </HeroIcons>
      <HeroIcons title="GitHub" position="bottom-8 right-[15%]">
        <GitHub class="w-16 drop-shadow-[0_0_10px_black] hover:drop-shadow-[0_0_20px_black]" />
      </HeroIcons>
      <HeroIcons title="React" position="top-[30%] right-0">
        <React class="w-16 h-16 object-contain drop-shadow-[0_0_10px_teal] hover:drop-shadow-[0_0_20px_teal]" />
      </HeroIcons>
      <HeroIcons title="HTML" position="top-0 right-[35%]">
        <Html class="w-16 h-16 object-contain drop-shadow-[0_0_10px_#ffa25ad7] hover:drop-shadow-[0_0_20px_#ffa25ad7]" />
      </HeroIcons>
    </div>
  </div>
  <div
    class="w-full flex flex-col justify-center items-center gap-3 xl:px-12
              md:w-4/6 md:items-start md:gap-5 lg:w-3/5"
  >
    <h2
      class="text-lg font-semibold px-2 text-sky-600 hover:drop-shadow-[0_0_15px_rgb(2_132_199)]
             lg:text-2xl"
    >
      Bienvenido a mi portafolio
    </h2>
    <h1
      class="text-5xl font-extrabold lg:text-7xl xl:text-8xl font-jetBrains italic"
    >
      Sergio Alba
    </h1>
    <h2 class="lg:text-2xl px-2 font-bold">
      soy un
      <span
        class="text-purple-500 hover:drop-shadow-[0_0_15px_rgb(168_85_347)]"
      >
        Desarrollador Front-end
      </span>
    </h2>
    <section class="w-3/5 flex flex-col gap-6 items-center">
      <div class="w-4/6 flex justify-evenly items-center gap-3">
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network];
            return (
              <a
                class={`${network} w-auto flex items-center text-black dark:text-white  gap-4 hover:scale-105`}
                href={url}
                title={`Visitar el perfil de ${username} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon
                  class={`${network == "LinkedIn" ? " hover:drop-shadow-[0_0_15px_#0A66C2]" : "hover:drop-shadow-[0_0_15px_orange]"} size-10 lg:size-12`}
                />
              </a>
            );
          })
        }
      </div>
      <a
        class="w-full xl:w-2/3 bg-gradient-to-r from-green-400/75 to-blue-500/75 hover:from-green-400 hover:to-blue-400
                hover:shadow-[0px_0px_20px_5px_#00000080] dark:hover:shadow-[0px_0px_20px_5px_#ffffff70] transition-all text-xl px-8 py-5 rounded-lg flex gap-2 justify-center active:shadow-[inset_10px_10px_15px_-3px_#00020] text-white lg:text-center md:px-2"
        href="../assets/formato.pdf"
        target="_blank"
        rel="noopener noreferrer"
        title="Descargar CV"><Download /> Descargar CV</a
      >
    </section>
  </div>
</section>
